In [6]:
### TASK 1
 
person = {
    'first_name': 'iqra',
    'last_name': 's',
    'age':14,
    'city': 'karachi',
    }

print(person['first_name'])
print(person['last_name'])
print(person['age'])
print(person['city'])
person.update({"qualification":"intermedaite"})
print(person)
print(" qualification is "+  person['qualification'])
person['qualification'] = "MS"
print("\nTHE UPDATED DICTIONARY WITH UPDATED VALUES OF QUALIFICATION.\n")
print(person)

del person['qualification']
print("\nDELETED THE KEY OF QUALIFICATION \n")
print(person)

iqra
s
14
karachi
{'first_name': 'iqra', 'last_name': 's', 'age': 14, 'city': 'karachi', 'qualification': 'intermedaite'}
 qualification is intermedaite

	 THE UPDATED DICTIONARY WITH UPDATED VALUES OF QUALIFICATION.

{'first_name': 'iqra', 'last_name': 's', 'age': 14, 'city': 'karachi', 'qualification': 'MS'}

	 DELETED THE KEY OF QUALIFICATION

{'first_name': 'iqra', 'last_name': 's', 'age': 14, 'city': 'karachi'}

In [8]:
### TASK 3

cities = {
    "karachi": {
        "country":"Pakistan",
        "population": "13.2",
        "fact": "Pakistan is famous for Toursim",
        "Most Visited ":"19.05 million"
        },
    
    "Toronto": {
        "country":"Capital of Canada",
        "population": "9.9 million",
        "fact": "Nigran Fall",
        "Most Visited ":"19.96 million"
        },
    
    "Munich": {
        "country":"Germany",
        "population": "4.141 million",
        "fact": "There are over 60 beer gardens in Munich",
        "Most Visited ":"19.44 million"
        
        }
}
print("we have 3 cities database which is \n")
for cities_name in cities.keys():
    print(cities_name)
city =input("\nEnter above mentioned city name to fetch data from  ")
flag = False
for city_key,city_val in cities.items():
    if city_key == city:
        flag = True
        break
if(flag):
    print(str(city_key) + " : " + str(city_val) )
else:
    print("No City")

we have 3 cities database which is

karachi
Toronto
Munich

Enter above mentioned city name to fetch data from  Munich
Munich : {'country': 'Germany', 'population': '4.141 million', 'fact': 'There are over 60 beer gardens in Munich', 'Most Visited ': '19.44 million'}

In [19]:
### TASK 3


print("online ticket booking system")

persons_number =int(input("\nHow many persons "))


print("charge ticket cost according the age")
total_price = 0
for i in range(1,persons_number+1):
    age = int(input("\nPlease Enter Age "))
    if age <= 3 and persons_number != 1:
        print(" \ndon't charge for below 3 years old.")
    elif age <= 3 and persons_number == 1:
        print(" \ndon't allow alone kid on cinema.")    
    elif age <= 12 and age >= 3:
        print("charged more than 3 years old and below 12 years old the ticket cost is 10$")
        total_price +=10
                
    elif age >= 12:
        print("charged more than 12 years old the ticket cost is 12$")
        total_price +=12
        
print(" Total Cost of Tickets is " + str(total_price)+"$")

Welcome to online ticket booking system

How many persons 3
charge ticket cost according the age

Please Enter Age 14
charged more than 12 years old the ticket cost is 12$

Please Enter Age 3

don't charge for below 3 years old.

Please Enter Age 87
charged more than 12 years old the ticket cost is 12$
 Total Cost of Tickets is 24$

In [18]:
### TASK 4

print("Welcome to Read Online Books")
book_details = {
    "Fourty Rules of Love": 
    {
        "Author":"Elaf shafak",
        "Publisher": "Penguin Books",
        "Publication date": "March 2009.",
        "Total Pages ":"354"
    },
    "Atitude is Everything": 
    {
        "Author":"Jeff keller",
        "Publisher": "Art seigel",
        "Publication date": "1999",
        "Total Pages ":"454"
    },
    "The Modren Breakup": 
    {
        "Author":"Daniel Chidiac",
        "Publisher": "Undercover publishing house",
        "Publication date": "16 july 2019",
        "Total Pages ":"290"
        
    }
}
input_book_name = input("Enter Your Book Name = ")

def find_book(input_book_name):
    flag = False 
    for book_key,book_values in book_details.items():
        if book_key == input_book_name:
            flag =  True
            break
    if(flag):            
        
        print(str(book_key) + " " + str(book_values) )
        
    else:
        print("Thanks for your input but "+ input_book_name +" not available on store")    
    
            
find_book(input_book_name)

Welcome to Read Online Books
Enter Your Book Name = The Modren Breakup
The Modren Breakup {'Author': 'Daniel Chidiac', 'Publisher': 'Undercover publishing house', 'Publication date': '16 july 2019', 'Total Pages ': '290'}